/*
tabs styling 
*/
#kta-form-tabs {
	position: relative;
	z-index: 10;
	clear: both;
	display: block;
	list-style: none!important;
	margin: 0 0 30px 0px!important;
	text-align: left;
	position: relative;
	margin-bottom: 0px!important;
}
#kta-form-tabs li a{
	margin-right: 2px!important;
	width: auto;
	display: inline-block;
	position: relative;
	padding: 8px 15px;
}
#kta-form-tabs li a{
	color: #fff;    
	display: block;
}
#kta-form-tabs li:first-child::before, #kta-form-tabs li:last-child::before{
	top:0px; 
	display: block;
	height: 100%;
	width: 32px;
	background: #80B94E;
	position: absolute;
	left: -15px;
	z-index: 0;
}
#kta-form-tabs li:last-child::before{
	right: -15px;
	left: inherit;
}
#kta-form-tabs li:not(last-child)::after{
	content: none!important;
}
ul #kta-form-tabs > li:active a{
	color: #cc00cc!important;
}
#kta-form-tabs li {
	margin-right: 2px!important; 
	padding-right: 0px!important;
	margin-bottom: 0px!important;
}
/*portfolio category*/
.kta-talent-content-wrapper ul li{
	position: relative;
	display: block;
	overflow: hidden;
}
.kta-talent-content-wrapper ul.grid li h4, .kta-talent-content-wrapper ul li h4{
	position: absolute;
	margin: auto;
	z-index: 1;
	padding:0px 20px;
	-moz-transform-origin: 0 0%;
	-moz-transform: rotate(-90deg);
	-webkit-transform-origin: 0 0%;
	-webkit-transform: rotate(-90deg);
	-o-transform-origin: 0 0%;
	-o-transform: rotate(-90deg);
	-ms-transform-origin: 0 0%;
	-ms-transform: rotate(-90deg);
	transform-origin: 0 0%;
	transform: rotate(-90deg);
}
.kta-image-details-wrapper .mata_data_info_wrapper{
    padding: 10px;
    line-height: 15px!important;
}
.kta-image-details-wrapper .mata_data_info_wrapper span strong{
  font-weight: 600!important
}
.kta-image-details-wrapper .mata_data_info_wrapper span{
    font-size: 12px!important;
    margin-right: 10px;
    font-style: normal!important;
}
.kta-image-details-wrapper ul {
    margin: 0!important;
    list-style: none!important;
}
.kta-image-details-wrapper .mata_data_info_wrapper span {
    font-size: 12px!important;
    margin-right: 10px;
    font-style: normal!important;
}
.kta-image-details-wrapper .mata_data_info_wrapper{
    padding: 10px;
    line-height: 15px!important;
}
.kta-image-details-wrapper ul li{
	overflow: hidden;
}
.pf_content_wrapper {
    display: block;
    background: #fff;
    border-radius: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;

}
.pf_title_description span{
	color:#8e8e8e;
}
.kta-image-details-wrapper .mata_data_info_wrapper {
    margin-bottom:0px!important;
    position: absolute;
    bottom: 0;
    width: 94%;
}
.kta-talent-content-wrapper ul.grid li h4{
	background: #fff;
	color: #353535;
}
.kta-talent-content-wrapper > ul li:hover {
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.22), 0 3px 25px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.22), 0 3px 25px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.22), 0 3px 25px rgba(0, 0, 0, 0.3);
}
.kta-talent-content-wrapper > ul li:hover{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
/*
single page styles
*/
.kta_left_section_wrapper{
	padding: 15px;
	margin-bottom: 30px;
}
.kta_left_section_wrapper ul {
    margin: 0px!important;
    list-style: none!important;
}
/* Talents Search */
.toggle_search_wrapper {
    position: fixed;
    display: none;
    opacity: 0;
    right: -100%;
    top: 0%;
    z-index: 1000;
    background: #FFFFFF;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, .5);
}
.toggle_search_field {
    width: 350px;
    margin: 0px auto;
    top: 0%;
    right: 0%;
    background: #FFFFFF;
    padding: 60px 35px 30px;
}
#kta-form-tabs li.setcard_tab{
	display:none!important;

}